<div class="centerBox">
    <div class="mainDiv">
        <h1>Order Calculation based on Distances</h1>
        <mat-label style="font-weight: bold;font-size: large; display: inline;">From</mat-label>
        <p style="font-size: large;">{{data.from_address}}</p>
        <mat-label style="font-weight: bold;font-size: large;display: inline;">To</mat-label>
        <p style="font-size: large;">{{data.to_address}}</p>
        <mat-label style="font-weight: bold;font-size: large;">Order Price</mat-label>
        <p style="font-size: large;">{{data.order_amount}}</p>

    </div>


</div>

